---
page_title: "Provider: ADLDAP"
subcategory: ""
description: |-
  The ADLDAP provider provides resources to interact with Active Directory through an LDAP connection.
---

# adldap Provider

The ADLDAP provider provides resources to interact with Active Directory through an LDAP connection.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}